.venv/
__pycache__/
*.pyc
*.egg-info/
.terraform/
*.tfstate*
*.tfvars
!*.tfvars.example
warehouse/target/
warehouse/logs/
*.duckdb*
*.sqlite*
artifacts/runs/
.env
credentials*.json

*.tfplan
artifacts/history/
warehouse/.user.yml
artifacts/latest/dbt-build.log
artifacts/verification/sandbox-dbt.log
